<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<div>我是a</div>
<iframe style="display: none;" id="dataSource" src='http://sub.localhost:3001/b'></iframe>
<script>
  const dataSourceIframe = document.getElementById('dataSource');
  dataSourceIframe.onload = function() {
    dataSourceIframe.onload = function() {
      const data = dataSourceIframe.contentWindow.name;
      console.log(data);
    }
    dataSourceIframe.src = '/c';
  }
</script>



</body>
</html>